mat-icon {
    width: 24px;
    padding: 15px;
    height: 24px;
}

.footer-flex-container {
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: space-evenly;
    display: flex;
}

.socialInfo {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
}

mat-icon:hover {
    transform: scale(1.1);
}

/deep/ .mat-input-underline {
    background-color: lightgray;
}


@media all and (max-width: 400px) {
    .footer-flex-container {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .footer-flex-container > div {
        flex: 1 1 100%;
    }
}