.gns-header {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100px;
  box-shadow: 0 6px 6px -6px #111;
  background-color: transparent  
}

.test {
  left: 2px;
  position: absolute;
}

svg {
  fill: whitesmoke;
  stroke: whitesmoke;
  height: 90px;
  width: 90px;
}

svg:hover {
  fill: darkgray;
  stroke: darkgray;
}

.hamburger-inner, .hamburger-inner:before, .hamburger-inner:after {
  background-color: whitesmoke !important;
  width: 30px !important;
}