.example-spacer {
    flex: 6 auto;
}

a {
    line-height: 1em;
    display: inline-block;
    /*text-decoration: none;*/
    margin: 42px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.gn-font-size {
    font-size: 18px;
}