$logo-color: whitesmoke;
$main-color: #C49B66;
$tablet-sm-screen: 767px;
$desk-md-screen: 991px;

svg {
  fill: $logo-color;
  stroke: $logo-color;
  height: calc(3em + 2vw);
  width: calc(3em + 2vw);
}

.test {
	padding: 15px 0;
	margin: 0 auto
}

svg:hover {
  fill: darkgray;
  stroke: darkgray;
}

.navbar-expand-lg {
	padding-left: 10px !important;
	padding-right: 10px !important;
}
.menu-btn {
	display: none;
}

a:hover {
	cursor:pointer;
}

.navbar{
	background: transparent;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 9;

	.icon-bar{
		color: whitesmoke;
	}

	.navicon, .navicon:before, .navicon:after {
		background: #fff;
		display: block;
		position: relative;
	}

	.navicon {
		height: 2px;
		position: relative;
		width: 18px;
	}

	.navicon:before, .navicon:after {
	  content: '';
	  height: 100%;
	  position: absolute;
	  transition: all .2s ease-out;
	  width: 100%;
	}

	.navicon:before {
		top: 5px;
	  }
	  
	.navicon:after {
		top: -5px;
	}

	.navbar-nav{
	
		.nav-link{
			color: $logo-color !important;
			font-weight: 600;
			letter-spacing: .5px;
			margin: 15px 5px;
			transition: all .5s;
		}
	}
}

.nav-scroll {
	background: #fff;
	padding: 0;
	position: fixed;
	top: -100px;
	left: 0;
	width: 100%;
	transition: transform .5s;
	transform: translateY(100px);

	.icon-bar{
		color: #222;
	}

	.navicon, .navicon:before, .navicon:after {
		background: #222;
	}

	.navbar-nav{
		
		.nav-link{
			color: #222 !important;
		}
	}

	svg {
		fill: black;
		stroke: black;
		height: calc(1em + 1vw);
		width: calc(1em + 1vw);
	  }
}


.rotate {
	.navicon {
		background: transparent;
	}
	
	.navicon:before, .navicon:after {
		top: 0;
	}
	  
	.navicon:before {
		transform: rotate(45deg);
	}

	.navicon:after {
		transform: rotate(-45deg);
	}
}


@media screen and (min-width: $desk-md-screen){
	.navbar{
		.navbar-collapse {
			overflow: hidden;
			max-height: 420px;
			background: #1C1F24;
			text-align: center;
		}

		.nav-link{
			margin: 10px auto !important;
		}
	}

	.nav-scroll{
		.navbar-collapse{
			background: #fff;
			.nav-link{
				color: black !important;
			}
		}
	}
}