.gns-header {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 70px;
  box-shadow: 0 6px 6px -6px #111;
}

.gns-header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.gns-header li a {
  display: block;
  padding: 20px;
  text-decoration: none;
  font-size: 18px;
}

.gns-header li a:hover,
.gns-header .menu-btn:hover {
  color: red;
}

.gns-header .logo {
  width: fit-content;
  font-size: 23px;
  text-decoration: none;
  padding-left: 30px
}

/* menu */

.gns-header .menu {
  align-items: center;
  clear: both;
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  /*justify-content: flex-end;*/
  margin-left: auto;
  transition: max-height .2s ease-out;
}

/* menu icon */
.gns-header .menu-icon {
  margin-left: auto;
  cursor: pointer;
  display: inline-block;
  padding: 32px 30px 32px 20px;
}

.gns-header .menu-icon .navicon {
  background: whitesmoke;
  display: block;
  height: 3px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

svg {
  fill: white;
  height: 60px;
  width: 60px;
}

svg:hover {
  fill: crimson;
}

.gns-header .menu-icon .navicon:before,
.gns-header .menu-icon .navicon:after {
  background: whitesmoke;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.gns-header .menu-icon .navicon:before {
  top: 5px;
}

.gns-header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */
.gns-header .menu-btn {
  padding: 20px 20px;
  display: none;
}

.open {
  max-height: 240px;
}

.close {
  max-height: 0px;
}

.gns-header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.gns-header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.gns-header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.gns-header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.gns-header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 850px) {
  .gns-header .menu {
    padding-right: 7%;
    flex-direction: row;
    flex: 0 0 30%;
    clear: none;
    max-height: none;
  }

  .gns-header .menu-icon {
    display: none;
  }
}

@media (min-width: 850px) and (max-width: 1200px) {
  .gns-header .logo {
    padding-left: 10%;
  }
}

@media (min-width: 1200px) {
  .gns-header .logo {
    padding-left: 22%;
  }

  .gns-header {
    height: 80px;
  }

  svg {
    height: 80px;
    width: 80px;
  }
}