$logo-color: whitesmoke;
$main-color: #C49B66;
$tablet-sm-screen: 767px;
$desk-md-screen: 991px;
$phone-sm-screen: 321px;

.footer-flex-container {
    padding-top: 50px;
    display: flex;
    background:  #1C1F24;
    justify-content: center;
}

/deep/ .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: whitesmoke;
}

/deep/ .mat-form-field-appearance-legacy .mat-form-field-label {
    color: whitesmoke;
    font-size: 15px;
}

.section-head {
    margin-bottom: 15px;
}

.mat-button {
    color: whitesmoke;
    margin-top: 20px;
    min-width: 150px;
}

.mat-button:hover {
    background-color: grey;
}

.mat-button:disabled {
    background-color: grey;
    color: black
}

.example-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.example-container > form > mat-form-field {
    width: 100%;
    max-width: 90%;
}

.form-group {
    margin: 0px;
}

.content {
    padding: 50px 0;
    background:  #1C1F24;
    color: whitesmoke;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
    width: 100px;
}

.c-icon {
    width:  36px;
    height: 36px;
    fill: currentColor;
    transition: .2s;
}

.c-link:hover { color: whitesmoke }
.c-link:hover::after { background: whitesmoke; 
color: black;}

.c-link {
    position: relative;
    color: whitesmoke;
}

.c-link:not(:last-of-type) {
    margin-right: 15px;
}

.c-tooltip::before,
.c-tooltip::after {
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -10px);
    opacity: 0;
    transition: .2s;
}

.c-tooltip::before {
    content: '';
    bottom: calc(100% + 2px);
    border: solid 5px transparent;
    border-top-color: currentColor;
}

.c-tooltip::after {
    content: attr(aria-label);
    bottom: calc(100% + 12px);
    padding: .61em .93em;
    font-size: .875rem;
    color: whitesmoke;
    border-radius: 3px;
}

.c-tooltip:hover::before,
.c-tooltip:hover::after {
    opacity: 1;
    transform: translate(-50%);
}

.pens-link-container {
    flex-basis: 100%;
    font-size: .9rem;
    text-align: center;
}

.pens-link {
    margin-bottom: 0;
    background: white;
    box-shadow: 0 4px 18px rgba(0, 0, 0, .1);
    border: none;
}


@media (min-width: $desk-md-screen) {
    .footer-flex-container {
        flex-wrap: wrap;
    }

    .footer-flex-container > div {
        flex: 0 0 100%;
    }

    .example-container > mat-form-field {
        width: 100%;
        max-width: 25%;
    }
}

@media (min-width: $tablet-sm-screen) and (max-width: $desk-md-screen) {
    .example-container > mat-form-field {
        width: 100%;
        max-width: 35%;
    }
}

@media screen and (max-width: $phone-sm-screen){
    .c-icon {
        width:  26px;
        height: 26px;
    }
}