<div class="content">
    <span class="anchor" id="aboutme"></span>
    <section class="container">
        <div class="ui three column grid centered"
             style="display: flex; justify-content: space-around; align-items: center; align-content: center">
            <div class="four column centered row">
                <h3>Create pleasing, self-sustaining applications in order to make lives easier than before</h3>
                <div class="column">
                    <h1 class="header">Skills</h1>
                    <div class="description">
                        <ul style="font-size: 20px">
                            <li>Focus</li>
                            <li>Strategic</li>
                            <li>Execution</li>
                            <li>Learner</li>
                            <li>Analytics</li>
                        </ul>
                    </div>
                </div>
                <div class="column">
                    <h1 class="header">Top Strengths</h1>
                    <div class="description">
                        <ul style="font-size: 20px">
                            <li>Focus</li>
                            <li>Strategic</li>
                            <li>Execution</li>
                            <li>Learner</li>
                            <li>Analytics</li>
                        </ul>
                    </div>
                </div>
                <div class="column">
                    <h1 class="header">Top Strengths</h1>
                    <div class="description">
                        <ul style="font-size: 20px">
                            <li>Focus</li>
                            <li>Strategic</li>
                            <li>Execution</li>
                            <li>Learner</li>
                            <li>Analytics</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>