$main-color: whitesmoke;
$tablet-sm-screen: 767px;
$desk-md-screen: 991px;
$phone-sm-screen: 321px;

.hero{
	img {
		background-color: whitesmoke;
		width: calc(10em + 1vw);
		height: calc(10em + 1vw);
	  }

	.hero-img{
		background-color: $main-color;
		padding-top: 0.5em;
		padding-bottom: 1.5em;
		text-align: center;
	}
	
	.content{
		p{
			color: #1C1F24;
		}
	}
}

@media screen and (max-width: $tablet-sm-screen){
	.hero{
		text-align: right;
		.content{
			text-align: center;
		}
	}
}