    	<section class="hero section-padding" data-scroll-index="1">
    		<div class="container">
    			<div class="row">
    				<div class="col-lg-5">
    					<div class="hero-img mb-md50">
    						<img src="../../assets/cutmypic.png" alt="">
    					</div>
    				</div>
    				<div class="col-lg-7">
    					<div class="content">
							<h4 class="title">Software Engineer from New York</h4>
							<p>I am <span>Javlon Usmanov</span>.</p> 
							<p>In pursuit of creating a beautiful software by combining multidisciplinary knowledge for the betterment of our lives.</p>

    						<div class="social-icon">
    							<a href="#0">
    								<span class="icon"><i class="fab fa-instagram"></i></span>
                                </a>
                                <a href="#0">
    								<span class="icon"><i class="fab fa-linkedin"></i></span>
                                </a>
                                <a href="#0">
    								<span class="icon"><i class="fab fa-medium"></i></span>
                                </a>
                                <a href="#0">
    								<span class="icon"><i class="fab fa-github"></i></span>
                                </a>
                                <a href="#0">
    								<span class="icon"><i class="fab fa-envelope-o"></i></span>
    							</a>
    						</div>
    						<span class="buton text-center">
							  <a mat-button href="#0" front="Hire Me" back="&#xf1d8;" data-scroll-nav="6"></a>
							</span>
    					</div>
    				</div>
    			</div>
    		</div>
    	</section>