/* ----------------------------------------------------------------
				05 Hero
-----------------------------------------------------------------*/
$main-color: whitesmoke;


.hero{
    mat-button {
		background-color: black;
	}
	img {
		background-color: whitesmoke;
	  }

	.hero-img{
		background-color: $main-color;
		padding: 0 20px 0 0;
		position: relative;

		&:hover{

			&:after{
				background: $main-color;
				// left: 5px;
				// top: -15px;
				// right: 15px;
				// bottom: 15px;
			}
		}

		&:after{
			content: '';
			background: $main-color;
			position: absolute;
			// left: 15px;
			// right: 5px;
			// top: 15px;
			// bottom: -15px;
			z-index: -1;
			// transition: all .5s;
		}
	}
	
	.content{

		p{
			margin-bottom: 15px;

			span{
				font-weight: 700;
			}
		}

		.social-icon{

			span{
				width: 40px;
				height: 40px;
				line-height: 40px;
				text-align: center;
				font-size: 15px;
				border: 1px solid #eee;
				margin: 15px 5px 15px 0;
				cursor: pointer;
				transition: all .5s;

				&:hover{
					background: $main-color;
					border-color: $main-color;
					color: #fff;
				}
			}
		}
	}
}