<mat-toolbar class="transparent-background">
        <span class="example-spacer"></span>
        <h1>GENESIS</h1>
        <span class="example-spacer"></span>
        <button class="button" mat-button disableRipple>Home</button>
        <button class="button" mat-button disableRipple>Work</button>
        <button class="button" mat-button disableRipple>Blog</button>
        <button class="button" mat-button disableRipple>About</button>
        <span class="example-spacer"></span>
</mat-toolbar>

<div class="container">
        <app-personal-summary></app-personal-summary>
</div>

<!--<router-outlet></router-outlet>-->