<mat-sidenav-container
        class="example-container" (backdropClick)="close()">
    <mat-sidenav #sidenav (keydown.escape)="close()" disableClose mode="push" autofocus="false">
        <p>
            <button mat-button (click)="close()">Toggle</button>
        </p>
    </mat-sidenav>

    <mat-sidenav-content>
        <app-header (sideNavEvent)="sidenav.opened ? sidenav.close() : sidenav.open()"></app-header>

        <app-home-page></app-home-page>
        <!--<app-work-page></app-work-page>-->
        <!--<app-blog-page></app-blog-page>-->
        <!--<app-about-page></app-about-page>-->

        <hr class="divider">

        <div class="footer">
            <app-footer></app-footer>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

