<section class="resume" data-overlay-dark="8" data-scroll-index="1">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="item mb-md50">
          <span class="icon icon-pencil"></span><br>
          <h5 class="title">Education</h5>
          <ul>
            <li>
              <h6>New York University</h6>
              <p>Bachelor of Science in Computer Science</p>
              <p>Minor in Psychology</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="item mb-md50">
          <span class="icon icon-briefcase"></span><br>
          <h5 class="title">Experience</h5>
          <ul>
            <li>
              <h6>Senior Software Developer</h6>
              <p>Bank of New York Mellon</p>
            </li>
            <li>
              <h6>Software Developer Intern</h6>
              <p>Bank of New York Mellon</p>
            </li>
            <li>
              <h6>Software Software Intern</h6>
              <p>OTC Markets Inc.</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="item skills">
          <span class="icon icon-layers"></span><br>
          <h5 class="title">My Strengths</h5>

          <div class="skill">
            <h6>Focus <span>90%</span></h6>
            <div class="skills-progress"><span data-value='90%'></span></div>
          </div>
          <div class="skill">
            <h6>Futuristic<span>80%</span></h6>
            <div class="skills-progress"><span data-value='80%'></span></div>
          </div>
          <div class="skill">
            <h6>Strategy<span>85%</span></h6>
            <div class="skills-progress"><span data-value='85%'></span></div>
          </div>
          <div class="skill">
            <h6>Analytical<span>75%</span></h6>
            <div class="skills-progress"><span data-value='75%'></span></div>
          </div>
          <div class="skill">
            <h6>Learner<span>75%</span></h6>
            <div class="skills-progress"><span data-value='75%'></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>