<section class="resume" data-overlay-dark="8" data-scroll-index="1">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="item mb-md50">
          <span class="icon icon-pencil"></span><br>
          <h3 class="title">Education</h3>
          <ul>
            <li>
              <h4>New York University</h4>
              <p>Bachelor of Science in Computer Science</p>
              <p>Minor in Psychology</p>
            </li>
          </ul>
        </div>
<!--        <img src="../../assets/tandon_long_white.png" alt="Kiwi standing on oval">-->
<!--        <img src="../../assets/bny-mellon-logo-pack/bny-mellon-logo-black-and-white.png" alt="Kiwi standing on oval">-->

      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="item mb-md50">
          <span class="icon icon-briefcase"></span><br>
          <h3 class="title">Experience</h3>
          <ul>
            <li>
              <h4>Senior Software Engineer</h4>
              <p>BNY Mellon</p>
            </li>
            <li>
              <h4>Software Engineer Intern</h4>
              <p>OTC Markets Inc.</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="item skills">
          <span class="icon icon-layers"></span><br>
          <h3 class="title">My Strengths</h3>

          <div class="skill">
            <h4>Focus <span>90%</span></h4>
            <div class="skills-progress"><span data-value='90%'></span></div>
          </div>
          <div class="skill">
            <h4>Futuristic <span>80%</span></h4>
            <div class="skills-progress"><span data-value='80%'></span></div>
          </div>
          <div class="skill">
            <h4>Strategy <span>85%</span></h4>
            <div class="skills-progress"><span data-value='85%'></span></div>
          </div>
          <div class="skill">
            <h4>Analytical <span>75%</span></h4>
            <div class="skills-progress"><span data-value='75%'></span></div>
          </div>
          <div class="skill">
            <h4>Learner <span>75%</span></h4>
            <div class="skills-progress"><span data-value='75%'></span></div>
          </div>
          <p>For more information, refer to <a style="color: antiquewhite" href="https://www.gallupstrengthscenter.com/home/en-us/cliftonstrengths-themes-domains">GallupStrengthsFinder</a></p>
        </div>
      </div>
    </div>
  </div>
</section>