@import '~@angular/material/theming';

@include mat-core();
@import 'genesis-header-theme.scss';
@import 'genesis-footer-theme.scss';

$md-primarypalette: (
        50 : #afd6f9,
        100 : #68b1f4,
        200 : #3497f0,
        300 : #0f73cd,
        400 : #0d63b0,
        500 : #000000,
        600 : #094377,
        700 : #07335b,
        800 : #05233f,
        900 : #031322,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #ffffff,
                400 : #ffffff,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #ffffff,
                A700 : #ffffff,
        )
);

$md-accentpalette: (
        50 : #def7f5,
        100 : #def7f5,
        200 : #def7f5,
        300 : #def7f5,
        400 : #def7f5,
        500 : #def7f5,
        600 : #def7f5,
        700 : #def7f5,
        800 : #def7f5,
        900 : #def7f5,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

$md-warnpalette: (
        50 : #ffd6d6,
        100 : #ff8a8a,
        200 : #ff5252,
        300 : #ff0a0a,
        400 : #eb0000,
        500 : #cc0000,
        600 : #ad0000,
        700 : #8f0000,
        800 : #700000,
        900 : #520000,
        A100 : #ffcccc,
        A200 : #ff6666,
        A400 : #ff0000,
        A700 : #e60000,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #ffffff,
                400 : #ffffff,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #ffffff,
                A700 : #ffffff
        )
);

@mixin custom-theme($theme) {
  @include genesis-header-theme($theme);
  @include genesis-footer-theme($theme);

}

$genesis-app-primary: mat-palette($md-primarypalette);
$genesis-app-accent: mat-palette($md-accentpalette);
$genesis-app-warn: mat-palette($md-warnpalette);

$genesis-app-theme: mat-light-theme($genesis-app-primary, $genesis-app-accent, $genesis-app-warn);
$genesis-dark-app-theme: mat-dark-theme($genesis-app-primary, $genesis-app-accent, $genesis-app-warn);

@include angular-material-theme($genesis-app-theme);
@include custom-theme($genesis-app-theme);

.mat-app-background, .header, .footer .gns-background {
  background-color: whitesmoke;
}

.gns-dark-bg {
   background-color: black;
   color: white;
 }

.gns-dark-bg a {
  color: white
}

.gns-white-bg {
  background-color: whitesmoke;
  color: black;
}

.gns-white-bg a {
  color: black
}



