/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto:500');

html * {
    font-family: 'Roboto', sans-serif;
}

body {
    margin-left: 0;
    margin-top: 70px;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    background-color: rgba(240, 240, 240);
}

.content {
    padding: 10px;
    background-color: white;
}

.centered {
    text-align: center;
}

.container {
    margin: 0 auto;
    max-width:80%;
}

.anchor{
    display: block;
    height: 70px; /*same height as header*/
    visibility: hidden;
}

@media all and (max-width: 900px) {
    .container {
        max-width: 90%;
    }
}