<div class="content">
    <section>
        <h1 class="headline">I'm Javlon Usmanov</h1>
        <h4 class="test">New York based Software Developer, that is passionate about developer productivity and focused on making developer easy for all walks of life</h4>
        
        <h3>Software Engineer</h3>
        <h3>Perpetual Innovator</h3>
        <h3>Aspiring Polymath</h3>

        <hr>
        
        <div class="social-icon">
                <a href="#0">
                    <span class="icon">
                        <i class="fa fa-instagram fa-2x"></i>
                    </span>
                </a>
                <a href="#0">
                    <span class="icon">
                        <i class="fa fa-linkedin fa-2x"></i>
                    </span>
                </a>
                <a href="#0">
                    <span class="icon">
                        <i class="fa fa-medium fa-2x"></i>
                    </span>
                </a>
                <a href="#0">
                    <span class="icon">
                        <i class="fa fa-github fa-2x"></i>
                    </span>
                </a>
                <a href="#0">
                    <span class="icon">
                        <i class="fa fa-telegram fa-2x"></i>
                    </span>
                </a>
            </div>
    </section>
    
    <div class="arrow">
        <a href="#" data-scroll-nav="1">
            <i class="fa fa-chevron-down"></i>
        </a>
    </div>
</div>